{% extends twig_global.getParameter('extended_layout') ? twig_global.getParameter('extended_layout') : 'CoreBundle:Base:base.layout.html.twig' %}

{% block header_style %}padding: 14em 0 7em 0;background-position: 54% 62%;{% endblock %}

{% block wrappers %}
    <div class="container">
        <div class="gradiente" style="height: 20px;"></div>
        {% include 'CoreExtraBundle:Slider:swiper.html.twig' %}
        <div class="gradiente-bottom" style="height: 20px;"></div>
    </div>

    <div id="features-wrapper">
        <section id="features" class="container">
            <div class="row">
                {% set items = get_menu_items(true) %}
                {% for item in items %}
                    {% set col = 4 %}
                    {% set col =  12 // (items | length) %}
                    <div class="{{col}}u 12u(mobile)">
                        <section>
                            {% if item.image is not null %}
                                <a href="{{ path('coreextra_menuitem_menu', {slug:  item.slug} ) }}" class="image featured">
                                    <img src="{{ get_thumb_image(item.image.path, '260')}}" alt="">
                                </a>
                            {% endif %}
                            <header><h3>{{item.name}}</h3></header>
                                    {{ item.shortDescription | raw}}
                        </section>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block content_container %}
    {#<div id="content" class="8u 12u(mobile)">
        {% set posts = get_posts('3', '0') %}
        {% for post in posts %}
        <article class="box post">
            <header><h2><a href="{{path("blog_blog_show", {slug: post.slug})}}">{{post.title}}</a></h2></header>
            {% if post.images.first.path is defined %}
            <a href="{{path("blog_blog_show", {slug: post.slug})}}" class="image featured"><img src="{{post.images.first.path}}" alt=""></a>
            {% endif %}
            <h3>{{ post.published | date ('F')}} {{ post.published | date ('d')}}</h3>
            <p>{{ post.description | striptags | truncate(200, true, '...') |raw }}</p>
            <ul class="actions">
                <li><a href="{{path("blog_blog_show", {slug: post.slug})}}" class="button icon fa-file">{{'post.continue' | trans }}</a></li>
            </ul>
        </article>
        {% endfor %}
    </div>
    <div id="sidebar" class="4u 12u(mobile)">
        <section>
            <ul class="divided">
                {% set posts = get_posts('5', '3') %}
                {% for post in posts %}
                <li>
                    <article class="box excerpt">
                        <header>
                            <span class="date">{{ post.published | date ('F')}} {{ post.published | date ('d')}}</span>
                            <h3><a href="{{path("blog_blog_show", {slug: post.slug})}}">{{post.title}}</a></h3>
                        </header>
                        {% if post.images.first.path is defined %}
                        <a href="{{path("blog_blog_show", {slug: post.slug})}}" class="image left"><img src="{{ get_thumb_image(post.images.first.path, '150', true)}}" alt=""></a>
                        {% endif %}
                        <p>{{ post.description | striptags | truncate(200, true, '...')  }}</p>
                    </article>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>#}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
            'bundles/admin/plugins/swiper/css/swiper.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        'bundles/admin/plugins/swiper/js/swiper.jquery.min.js'            
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

     <!-- Initialize Swiper -->
    <script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 5000,
        autoplayDisableOnInteraction: false,
        // Disable preloading of all images
        preloadImages: false,
        // Enable lazy loading
        lazyLoading: true,
    });
    </script>
{% endblock %}