<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% block meta_viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock %}
        <title>{% block title %}{% if page_title is defined %} {{ page_title }} &raquo; {% endif %}Website{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('bundles/front/images/favicon.ico') }}"/>

        {% block stylesheets %}

            {% stylesheets
                'bundles/admin/plugins/bootstrap-3.3.6/css/bootstrap.min.css'
                'bundles/admin/plugins/ionicons-2.0.1/css/ionicons.min.css'
                'bundles/admin/plugins/font-awesome-4.6.3/css/font-awesome.min.css'
                'bundles/admin/plugins/iCheck/minimal/_all.css'
                'bundles/front/css/fonts.css'
                'bundles/front/css/style.css'
                'bundles/front/less/front.less'
                'bundles/admin/plugins/flagstrap/dist/css/flags.css'
                'bundles/core/less/pages/oauth.less'
            %}
                <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}

        {% endblock %}

        {% javascripts
            'bundles/front/js/jquery.min.js'
            'bundles/front/js/jquery.dropotron.min.js'
            'bundles/front/js/skel.min.js'
            'bundles/front/js/skel-viewport.min.js'
            'bundles/front/js/util.js'
            'bundles/front/js/ie/respond.min.js'
            'bundles/front/js/skel.custom.js'
            'bundles/admin/plugins/bootstrap-3.3.6/js/bootstrap.min.js'
            'bundles/admin/plugins/iCheck/icheck.min.js'
            'bundles/admin/plugins/flagstrap/dist/js/jquery.flagstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% block head %}{% endblock %}
    </head>

    {% block body %}
    <body class="core-body {% block body_class %}{% endblock %}">
        <div class="core-container">
            <div class="core-row">
                    
                <div id="page-wrapper">
                    {% block header %}
                    <div id="header-wrapper">
                        <div id="header" class="container" style="{% block header_style %}{% endblock %}">
                            <h1 id="logo"><a href="/"><span>Kundalini</span> <span>Woman</span></a></h1>
                            <p>{{ 'header.title' | trans }}</p>
                            <span style="font-size: 17px;font-style: italic;">{{ 'header.subtitle' | trans }}</span>
                            {% include 'FrontBundle:Base:menu.html.twig' %}

                        </div>
                    </div>
                    {% endblock %}

                    {% block wrappers %}
                    {% endblock %}    
                    {% block content_header %}{% endblock %}
                    <div id="main-wrapper">
                        <div id="main" class="container">
                            <div class="row">
                                {% block content %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div id="footer-wrapper">
                       {% include 'FrontBundle:Base:footer.html.twig' %}
                    </div>
                </div>
                {% include 'FrontBundle:Base:menu.mobile.html.twig' %}
            </div>
        </div>
        
        {% block footer %}{% endblock %}
        
        {% block javascripts %}
            
        <script>
            function validateEmail(email) {
                var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
                return re.test(email);
            }
            jQuery.fn.anchorAnimate = function(settings) {

                settings = jQuery.extend({
                        speed : 2000
                }, settings);	

                return this.each(function(){
                        var caller = this
                        jQuery(caller).click(function (event) {	
                                event.preventDefault()
                                var locationHref = window.location.href
                                var elementClick = jQuery(caller).attr("href")

                                var destination = jQuery(elementClick).offset().top;
                                jQuery("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination}, settings.speed, function() {
                                        window.location.hash = elementClick
                                });
                                return false;
                        })
                })
            }
 
            jQuery(document).ready(function() {
                jQuery(".anchorLink").anchorAnimate();
                jQuery("#contact-web").submit(function(event){
                    event.preventDefault();  
                    var action = jQuery(this).attr('action');
                    var name = jQuery('#name').val();
                    var email = jQuery('#email').val();
                    var message = jQuery('#message').val();

                    if(validateEmail(email)){
                        jQuery('#returnMessage').hide();
                        jQuery('#returnMessage').removeClass('alert alert-message alert-success alert-danger');
                        jQuery.ajax({
                            method: "POST",
                            url: action,
                            data: { contact: { name: name,email: email, message: message } }
                        })
                        .done(function( data ) {
                            console.log(data);
                            jQuery('#returnMessage').text('{{ 'contact.sent'  | trans }}');
                            jQuery('#returnMessage').addClass('alert alert-message alert-success');
                            jQuery('#returnMessage').fadeIn('slow', function(){
                                window.parent.resizeIframeWeb();
                            });

                        });
                    }else{
                        jQuery('#returnMessage').text('{{ 'contact.email.valid'  | trans }}');
                        jQuery('#returnMessage').addClass('alert alert-message alert-danger');
                        jQuery('#returnMessage').fadeIn('slow', function(){
                            window.parent.resizeIframeWeb();
                        });
                    }

                });
                
                $('.modal-popup .close-link').click(function(event){
                        event.preventDefault();
                        $('#modalLogin').modal('hide');
                        $('#modalRegister').modal('hide');
                });
                
            });
            
            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
              checkboxClass: 'icheckbox_minimal-blue',
              radioClass: 'iradio_minimal-blue'
            });

        </script>
        
            
        {% endblock %}
    </body>
    {% endblock %}
</html>